body { 
     height: 1366px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, gray, white) ;
    
    }

   
#header {
    text-align: center;
    font-family: fantasy;
    margin-top: 25px;
    margin-left: 25px;
}

#blankBox {
    margin: auto;
    background-color: white;
    border-radius: 12px;
    border-color: black;
    padding: 1rem;
    height: 50px;
    width: 1000px;

    

}

.container {
    background-color: aquamarine;
    padding: 60px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    border-style: solid;
    border-color: black;   
    border-radius: 2; 

}

.form {display: grid;
    grid-template-columns: auto auto;
    column-gap: 24px;
    row-gap: 24px;
    align-items: center;

}

button {
    
    border-radius: 12px;
    font-size: 24px;
    grid-column: span 2;
    border-color: black;
    
    }